<!--
  - {{ appState$ | async }} là một cách hiệu quả để hiển thị dữ liệu từ một Observable trong Angular.
  - async pipe lắng nghe các giá trị phát ra từ Observable và hiển thị giá trị đó trong template.
  - Khi Observable phát ra một giá trị mới, async pipe sẽ cập nhật tự động trong giao diện người dùng
  mà không cần phải sử dụng các phương pháp khác như subscribe và unsubscribe thủ công.
-->
<!--<div>{{ appState$ | async | json }}</div>-->

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Servers</h2>
          </div>
          <div class="col-sm-6 d-flex justify-content-end">

            <span>
              <!--
               - Đặt dữ liệu được chọn mặc định ngModel="ALL"
               - (ngModelChange) chỉ hoạt động khi bạn sử dụng ngModel. Nó được kích hoạt mỗi khi giá trị của ngModel
               thay đổi, bất kể người dùng có rời khỏi phần tử input hay không.
              -->
              <select ngModel="ALL" (ngModelChange)="filterServers($event)" name="status" class="btn btn-info form" style="height: 33px;">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER UP</option>
                <option value="SERVER_DOWN">SERVER DOWN</option>
              </select>
            </span>

            <a href="#addEmployeeModal" class="btn btn-success" data-bs-toggle="modal">
              <i class="material-icons">&#xE147;</i>
              <span>New Server</span>
            </a>

            <button (click)="printReport()" type="button" class="btn btn-primary">Print Report</button>
          </div>
        </div>
      </div>
      <br>
      <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState" >
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <table class="table table-striped table-hover" id="servers">
            <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>IP Address</th>
              <th>Name</th>
              <th>Memory</th>
              <th>Type</th>
              <th>Status</th>
              <th>Ping</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let server of appState.appData?.data?.servers; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td><img ngSrc="{{ server.imageUrl }}" width="40" height="40" alt=""></td>
              <td>{{ server.ipAddress }}</td>
              <td>{{ server.name }}</td>
              <td>{{ server.memory }}</td>
              <td>{{ server.type }}</td>
              <td>
                <span class="badge"
                      [ngClass]="[server.status === Status.SERVER_UP ? 'badge text-bg-success' : 'badge text-bg-danger']">
                  {{ server.status === Status.SERVER_UP ? 'SERVER UP' : 'SERVER DOWN'}}
                </span>
              </td>
              <td>
                <a (click)="pingServer(server.ipAddress)" style="cursor: pointer;">
                  <!-- Kiểm tra giá trị của filterStatus$ nếu là ''
                       hoặc ipAddress (filterStatus$) truyền vào khác ipAddress được ping thì hiển thị material-icons-->
                  <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress"
                    class="material-icons" title="Ping server">&#xe328;</i>
                  <!-- Nếu ipAddress (filterStatus$) truyền vào giống ipAddress được ping thì hiển thị fa-spinner-->
                  <i *ngIf="(filterStatus$ | async) === server.ipAddress"
                    class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </a>
              </td>
              <td>
                <a (click)="deleteServer(server)" class="delete text-center" data-bs-toggle="modal" style="cursor: pointer;">
                  <i class="material-icons" data-bs-toggle="tooltip" title="Delete">&#xE872;</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert alert-danger" >
            {{ appState.error }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Add server Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
        <div class="modal-header">
          <h4 class="modal-title">Add Server</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>IP</label>
            <input type="text" ngModel name="ipAddress" class="form-control" required>
          </div>
          <div class="form-group mt-3">
            <label>Name</label>
            <input type="text" ngModel name="name" class="form-control" required>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label>Memory</label>
                <input type="text" ngModel name="memory" class="form-control" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Type</label>
                <input type="text" ngModel name="type" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <label>Status</label>
            <select name="status" ngModel="SERVER_DOWN" class="form-select" required>
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>
        </div>
        <div class="modal-footer mt-3">
          <button type="button" class="btn btn-warning" id="closeModal" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" [disabled]="serverForm.invalid || (isLoading$ | async)"
                  class="btn btn-success">
            <!-- Nếu nhấn Add và đang load thì hiển thị spinner và text="Saving..." -->
            <i *ngIf="(isLoading$ | async)" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="(isLoading$ | async)">Saving...</span>

            <!-- Nếu chưa nhấn Add và không đang load thì hiển thị text="Add" -->
            <span *ngIf="!(isLoading$ | async)">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<notifier-container></notifier-container>

